#jcrop-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1432432;
}
.jcrop-box {
	all: initial !important;
}

.jcrop-selection {
	z-index: 2000 !important;
}

.jcrop-shades {
	z-index: 2000 !important;
}
