#edit-panel-wrapper {
  position: fixed;
  right: 10px;
  top: 50px;
}

#edit-panel {
  position: relative;
}

ul {
  list-style-type: none;
}

a:visited {
  text-decoration: none; color: blue;
}

div.btn {
    display: inline-block;
    border: 2px solid #ccc;
    margin-right: 5px;
    padding: 2px 5px;
    cursor: pointer;
}
div.btn.on {
    background-color: #777;
    color: white;
}
